<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<img alt="" th:src="@{/images/shraddha.jpg}">

<h1>Here we are going to add css and javaScript file in thymeleaf</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum magnam veniam quisquam ad, atque eum est, nulla vitae officiis dolor rem voluptates non nostrum omnis hic quia ipsa consequatur dolorum?</p>


<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>